@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  /* border: 1px solid red; */
  text-align: center;
  padding: 2%;
  margin: 10% auto;
  width: fit-content;
  max-width: 1300px;
}

header h1 {
  /* border: 1px solid blue; */
  font-weight: 200;
  animation: alt-colors 4s infinite alternate-reverse, 
  slide-in 3s;
}

header h1 div {
  /* border: solid 1px green; */
  font-weight: 700;
}

header p {
  margin-top: 3%;
  color: #a3a5ae;
}

/* main content */

.box {
  /* border: 1px solid red; */
  border-radius: 7px;
  width: 400px;
  height: 300px;
  margin: auto;
  margin-bottom: 7%;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.box p {
  color: #a3a5ae;
}

.box img {
  width: 30%;
  margin-top: 10%;
  margin-left: 70%;
}

.box-supervisor {
  border-top: 6px solid #45d3d3;
}

.box-teamBuilder {
  border-top: 6px solid #ea5353;
}

.box-calculator {
  border-top: 6px solid #549ef2;
}

.box-karma {
  border-top: 6px solid #fcaf4a;
}

footer {
  background-color: #2d2d2d;
}

footer h4 {
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.box:hover {
  animation: bounce 1.5s ease-out infinite;
}

/* .alt-colors {
  animation: slide-in 5s;
  animation: alt-colors 5s ease-in-out infinite alternate-reverse;
}

.top-slideIn {
  animation: slide-in 5s;
}*/

/* Animations */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes alt-colors {
  from {
    color: tomato;
  }
  to {
    color: violet;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100rem);
  }
  /* to {
    transform: translateX(0.01rem);
  } */
}

/* End of Animations */

/* Laptop and large screen view */

@media (min-width: 1000px) {
  /* header */
  header {
    /* border: 1px solid red; */
    text-align: right;
    margin-top: 1%;
  }

  /* main content */
  .container {
    /* border: 1px solid green; */
    max-width: 1300px;
    margin: auto;
    margin-top: -10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .box {
    margin-bottom: 2rem;
    width: 27%;
    height: 20%;
  }

  .box:hover {
    animation: none;
  }

  .box-supervisor {
    margin-left: 7%;
  }

  .box-calculator {
    margin-right: 7%;
  }

  .move-down {
    transform: translateY(10rem);
    transition: transform 2s;
  }
}
